.hallon-slider {
	display: block;
	width: 100%;
	position: relative;
	margin: 20px 0;
}

.hallon-slider__background {
	display: block;
	width: 100%;
	height: 60px;
	position: relative;
	border: 2px solid #fff;
	border-radius: 30px;
	box-sizing: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hallon-slider__scrubber {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	box-sizing: border-box;
	-ms-touch-action: none;
}

.hallon-slider__scrubber-graphic {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	top: 5px;
	left: 5px;
	background-color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
}

.hallon-slider__labels {
	display: block;
	height: 30px;
	position: relative;
	margin: 20px 30px;
	padding: 0;
	list-style: none;
}

.hallon-slider__label {
	display: block;
	width: 100px;
	position: absolute;
	left: 0;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	color: #333;
	cursor: pointer;
}

.hallon-slider__line {
	display: block;
	width: 2px;
	height: 150%;
	position: absolute;
	top: -25%;
	left: 50%;
	background-color: #fff;
}
